/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
ul,
p,
h1,
h2,
h3 {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --color-link: #2196f3;
  --modal-button: #188ce8;
  --color: #212121;
  --color-text: #757575;
  --color-banner: #2f303a;
  --color-w: #ffffff;
  --portfolo-button: #f5f4fa;
  --color-icon: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  font-family: "Roboto", "Raleway";
  font-style: normal;
  color: var(--color);
  background-color: var(--color-w);
}

/*
@media screen and(min-width:480px) {
  max-width: 767px;
}
@media screen and(min-width:786px) {
  max-width: 1199px;
}
@media screen and(min-width:1200px) {
  max-width: 1600px;
}
/*
max-width: 1600px;
*/
.container {
  width: 100%;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 786px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*
.header__container {
  display: flex;
  align-items: center;
}
*/
.header--border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--color-link);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.link:hover, .link:focus {
  color: var(--color-link);
  fill: var(--color-link);
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-left: 93px;
}

.nav__item--position:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__link--current {
  color: var(--color-link);
  position: relative;
}
.nav__link--current::after {
  display: block;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--color-link);
  position: absolute;
}

/**/
.contacts {
  display: flex;
  margin-left: auto;
  fill: var(--color-text);
}
.contacts__item:not(:first-child) {
  margin-left: 50px;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--color-link);
  fill: var(--color-link);
}

.contacts__icon {
  margin-right: 10px;
}

.section {
  padding: 94px 0;
}

.banner {
  background: var(--color-banner);
  color: var(--color-w);
  text-align: center;
}
@media screen and (min-width: 480px) {
  .banner {
    max-width: 480px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mob-img-opt/Header1x.jpg");
    padding: 118px 60px;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .banner {
    text-align: center;
    background: var(--color-banner);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mob-img-opt/Header2x.jpg");
    padding: 118px 60px;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    max-width: 768px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/table/Header1x.jpg");
    padding: 118px 204px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    text-align: center;
    background: var(--color-banner);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/table/Header2x.jpg");
    padding: 118px 204px;
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    max-width: 1200px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desc/header2x.jpg");
    padding: 200px 0px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    text-align: center;
    background: var(--color-banner);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desc/header1x.jpg");
    padding: 200px 0px;
  }
}

.banner__title {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .banner__title {
    font-size: 26px;
    line-height: 1.61;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .banner__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    margin: 0 auto;
  }
}

.banner__button {
  cursor: pointer;
  color: var(--color-w);
  background-color: var(--color-link);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 32px;
  border: 1px solid #000000;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  text-align: center;
  transition-property: border-radius, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.banner__button:hover, .banner__button:focus {
  color: var(--color-w);
  background-color: #188ce8;
  border-radius: 0px;
}

/*
.banner {
  background: var(--color-banner);
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main-img.svg");
  color: var(--color-w);
  padding: 200px 0px;
}
.banner__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 696px;
  margin: 0 auto;
}
.banner__button {
  cursor: pointer;
  color: var(--color-w);
  background-color: var(--color-link);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 32px;
  border: 1px solid #000000;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  text-align: center;
  transition-property: border-radius, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--color-w);
    background-color: rgba(24, 140, 232, 1);
    border-radius: 0px;
  }
}
*/
.specifics {
  display: flex;
}

.specifics__item:not(:last-child) {
  margin-right: 30px;
}

.specifics__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background: var(--portfolo-button);
  border-radius: 4px;
}

.specifics__name {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.specifics__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.work {
  padding-bottom: 94px;
}

.work__header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__card {
  position: relative;
}
.work__card img {
  display: block;
}

.work__name {
  background: rgba(47, 48, 58, 0.8);
  color: var(--color-w);
  text-transform: uppercase;
  text-align: center;
  padding: 27px 0px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.team {
  background-color: var(--portfolo-button);
  letter-spacing: 0.03em;
}

.team__head {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__card {
  background-color: var(--color-w);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  line-height: 1.19;
}

.team__name {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 16px;
}

.team__function {
  color: var(--color-text);
  font-size: 16px;
  margin-bottom: 16px;
}

.team__link {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
  fill: var(--color-icon);
}
.team__link li:not(:last-child) {
  margin-right: 10px;
}

.team__icon {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--color-icon);
  transition-property: fill, background;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.team__icon:hover, .team__icon:focus {
  background: var(--color-link);
  fill: var(--color-w);
}

.client__head {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.client__list {
  display: flex;
  justify-content: space-between;
}

.client__link {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  fill: var(--color-icon);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.client__link:focus, .client__link:hover {
  border-color: var(--color-link);
  fill: var(--color-link);
}

.client__link:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: var(--color-banner);
  color: var(--color-w);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
}

.adress {
  display: block;
}

.adress__item {
  font-style: normal;
}

.adress__name {
  margin-top: 20px;
  margin-bottom: 9px;
}

.adress__list li:not(:last-child) {
  margin-bottom: 9px;
}

.connect {
  margin-left: 70px;
}

.connect__head {
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.connect__link {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
  fill: var(--color-icon);
}
.connect__link :not(:last-child) {
  margin-right: 10px;
}

.connect__icons {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--color-w);
  transition-property: fill, background;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.connect__icons:hover, .connect__icons:focus {
  background: var(--color-link);
  fill: currentColor;
}

.mailing {
  margin-left: 93px;
}

.mailing__head {
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.mailing__form {
  align-items: center;
  display: flex;
}

.mailing__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing__button {
  cursor: pointer;
  background: var(--color-link);
  color: var(--color-w);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 22px;
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.mailing__button:hover, .mailing__button:focus {
  background: var(--modal-button);
}

.mailing__button svg {
  margin-left: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  background-color: var(--portfolo-button);
  border-radius: 4px;
}
.filter__item:not(:first-child) {
  margin-left: 8px;
}

.filter__button {
  cursor: pointer;
  background-color: var(--portfolo-button);
  color: var(--color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.filter__button:hover, .filter__button:focus {
  background: var(--color-link);
  color: var(--color-w);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  list-style: none;
}

.grid__item {
  width: 370px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 30px;
  /*
  flex-basis: cacl((1200- 90px)/3); */
}

.grid__link {
  display: block;
}
.grid__link:focus, .grid__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.grid__image {
  display: block;
}

.grid__box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.grid__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.grid__description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.grid__link:hover .grid__message, .grid__link:focus .grid__message {
  transform: translateY(0);
}

.grid__overlay {
  position: relative;
  overflow: hidden;
}

.grid__message {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  color: var(--color-w);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--color-w);
  padding: 40px;
}

.modal__button {
  display: flex;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--color-w);
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.modal__button:hover, .modal__button:focus {
  fill: var(--color-link);
}

.modal__head {
  margin-bottom: 12px;
  color: var(--color);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  color: var(--color);
}

.form__label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-text);
  margin-bottom: 10px;
  position: relative;
}
.form__label:hover, .form__label:focus {
  border-color: var(--color-link);
  outline: none;
}

.form__input {
  cursor: pointer;
  margin-top: 4px;
  padding: 0;
  padding-left: 40px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.form__input:hover, .form__input:focus {
  border-color: var(--color-link);
  outline: none;
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: var(--color-link);
}

.form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
}

.form__container {
  margin-bottom: 20px;
}

.form__comment {
  width: 100%;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.form__comment:hover, .form__comment:focus {
  border-color: var(--color-link);
  outline: none;
}

.form__comment placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__button {
  cursor: pointer;
  margin: 0 auto;
  background: var(--color-link);
  color: var(--color-w);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}
.form__button:hover, .form__button:focus {
  background: var(--modal-button);
}

.checkbox {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  align-items: center;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.checkbox__input:focus + .checkbox__icon {
  border-color: var(--color-link);
}
.checkbox__input:checked + .checkbox__icon {
  border-color: var(--color-link);
  background-color: var(--color-link);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  border-radius: 2px;
  background-origin: content-box;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color);
  border-radius: 2px;
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.checkbox__agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  padding-left: 8.38px;
}

.checkbox__link {
  color: var(--color-link);
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */