.banner {
  @media screen and (max-width: 767px) {
    background: var(--color-banner);
    max-width: 767px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/Header1x.jpg");
    color: var(--color-w);
    padding: 118px 0px;
  }
  @media (min-device-pixel-ratio: 2) and (max-width: 767px),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: var(--color-banner);
    max-width: 767px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/Header2x.jpg");
    color: var(--color-w);
    padding: 118px 0px;
  }

  @media screen and (min-width: 768px) {
    background: var(--color-banner);
    max-width: 1199px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/table/Header1x.jpg");
    color: var(--color-w);
    padding: 118px 0px;
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: var(--color-banner);
    max-width: 1199px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/table/Header2x.jpg");
    color: var(--color-w);
    padding: 118px 0px;
  }
  @media screen and (min-width: 1200px) {
    background: var(--color-banner);
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desc/header1x.jpg");
    color: var(--color-w);
    padding: 200px 0px;
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: var(--color-banner);
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desc/header2x.jpg");
    color: var(--color-w);
    padding: 200px 0px;
  }
}
.banner__title {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.57;
    max-width: 360px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.banner__button {
  cursor: pointer;
  color: var(--color-w);
  background-color: var(--color-link);
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 32px;
  border: 1px solid #000000;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  text-align: center;
  transition-property: border-radius, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--color-w);
    background-color: rgba(24, 140, 232, 1);
    border-radius: 0px;
  }
}
