.client__head {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}
.client__list {
  display: flex;
  justify-content: space-between;
}
.client__link {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  fill: var(--color-icon);
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:focus,
  &:hover {
    border-color: var(--color-link);
    fill: var(--color-link);
  }
}
.client__link:not(:last-child) {
  margin-right: 30px;
}
