.footer {
  background-color: var(--color-banner);
  color: var(--color-w);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
}
