.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  margin-left: 93px;
}
.nav__item--position:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__link--current {
  color: var(--color-link);
  position: relative;

  &::after {
    display: block;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--color-link);
    position: absolute;
  }
}
/**/
.contacts {
  display: flex;
  margin-left: auto;
  fill: var(--color-text);

  &__item:not(:first-child) {
    margin-left: 50px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--color-link);
    fill: var(--color-link);
  }
}

.contacts__icon {
  margin-right: 10px;
}
