.connect {
  margin-left: 70px;
}
.connect__head {
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
}
.connect__link {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
  fill: var(--color-icon);

  & :not(:last-child) {
    margin-right: 10px;
  }
}

.connect__icons {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--color-w);
  transition-property: fill, background;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    background: var(--color-link);
    fill: currentColor;
  }
}
