.mobile {
  position: absolute;
  background-color: var(--color-w);
  top: 0;
  width: 100vw;
  height: 100vh;

  .container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
.mobile__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 25px;
  top: 21px;
}
.mobile__item {
  margin-bottom: 32px;
}
.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  /*
  @media screen and(max-width:767px) {
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);

    &:hover,
    &:focus {
      color: var(--color-link);
    }
  } */
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  /*
  @media screen and(max-width:767px) {
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--color-text);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);

    &:hover,
    &:focus {
      color: var(--color-link);
    }
    &--mail {
      font-size: 24px;
      line-height: 1.17;
      color: var(--color-text);
    }
    &--tel {
      font-size: 34px;
      line-height: 1.176;
      color: var(--color-link);
    }
  }*/
}
.mobile-social {
  display: flex;
}

/*
.mobile-nav {
  position: relative;
  background-color: #fff;
  top: 0;
  width: 100vw;
  height: 100vh;
}
*/
