.mobile {
  position: fixed;
  background-color: var(--color-w);
  top: 0;
  width: 100vw;
  height: 100vh;
  font-family: Roboto;
  font-weight: 500;
  opacity: 1;
  visibility: visible;
  .container {
    position: relative;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
.mobile.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.mobile__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 25px;
  top: 21px;
}
.mobile__item {
  margin-bottom: 32px;
}
.mobile__link {
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--color-link);
  }
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__link {
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  &--tel {
    font-size: 34px;
    line-height: 1.176;
    color: var(--color-link);
  }
  &--mail {
    font-size: 24px;
    line-height: 1.17;
    color: var(--color-text);
  }
}
.mobile-social {
  display: flex;
  padding-top: 64px;
}
.mobile-social__item {
  position: relative;
}
.mobile-social__item:not(:first-child) {
  margin-left: 10px;
}
.mobile-social__item:not(:last-child) {
  margin-right: 10px;
}
.mobile-social__item:not(:last-child)::before {
  display: block;
  content: "";
  width: 0;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  position: absolute;
  bottom: 0;
  right: -10px;
}
.mobile-social__link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-link);
}
