.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  @media screen and(max-width:379px) {
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 380px) and(max-width:767px) {
    width: 362px;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-bottom: 40px;
  }
}
.filter__item {
  background-color: var(--portfolo-button);
  border-radius: 4px;
  @media screen and(min-width:768px) {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
  @media screen and(max-width:767px) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.filter__item:nth-child(2n + 3) {
  @media screen and (min-width: 380px) and(max-width:767px) {
    margin-right: 0px;
  }
}
.filter__button {
  cursor: pointer;
  background-color: var(--portfolo-button);
  color: var(--color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    background: var(--color-link);
    color: var(--color-w);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
