.container {
  width: 100%;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width:480px) and(max-width:767px) {
    width: 480px;
  }
  @media screen and(min-width:786px) and(max-width:1199px) {
    width: 768px;
  }
  @media screen and(min-width:1200px) {
    width: 1200px;
  }
}
/*
.header__container {
  display: flex;
  align-items: center;
}
*/
