:root {
  --color-link: #2196f3;
  --modal-button: #188ce8;
  --color: #212121;
  --color-text: #757575;
  --color-banner: #2f303a;
  --color-w: #ffffff;
  --portfolo-button: #f5f4fa;
  --color-icon: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
